header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    box-shadow: 0px 5px 25px -5px black;
    background-color: $main-color;
    z-index: 1000;
    h1{
        color: $seconed-color;
        font-family: 'Grape Nuts', cursive;
        padding: 0.8rem;
        border-top-left-radius: 3rem;
        cursor: pointer;
        font-size: 1.8rem;
    }
    .nav{
        display: flex;

        ul{
            list-style: none;
            display: flex;
            li{
                a{
                    font-family: 'Zen Loop', cursive;
                    font-size: 1.5rem;
                    transition: all 0.3s ease;
                    text-decoration: none;
                    color: #cad8ff;
                    &:hover{
                        color: $seconed-color;
                    }
                }
                margin-right: 1.7rem;
                color: #cad8ff;
                cursor: pointer;
                transition: all 0.3s ease;
                padding: 0.7rem;
                font-family: 'Zen Loop', cursive;
                font-size: 1.5rem;
                span{
                    color: $seconed-color;
                }
                &:hover{
                    color: $seconed-color;
                }
                &.resume{
                    border: 1px solid $seconed-color;
                }
            }

        }
    }
}
//--------------------------------------------------------------------------------------------------------------------------
@include mobile {
    header{
        .ham{
            width: 20px;
            height: 14px;
            cursor: pointer;
            position: relative;
            z-index: 100;
            span{
                background-color: $seconed-color;
                width: 100%;
                height: 2px;
                position: absolute;
                left: 0;
                transition: 0.3s all ease;
                &.span-1{
                    top: 0;
                }
                &.span-2{
                    top: 6px;
                }
                &.span-3{
                    top: 12px;
                }
            }
            &.active{
                span{
                    background-color: $seconed-color;
                    top: 6px;
                }
                .span-1{
                    transform: rotate(45deg);
                }
                .span-2{
                    opacity: 0;
                }
                .span-3{
                    transform: rotate(-45deg);
                }
            }
        }
        .nav {
            display: none;
        }
        .nav-responsive{
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            justify-content: flex-end;
            backdrop-filter: blur(5px);
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 7rem 0;
                margin: 0;
                width: 70%;
                gap: 1rem;
                background-color: black;
                animation: slide-from-left 0.6s linear ;
                li{
                    margin: 0;
                }
            }
        }
    }
}

//--------------------------------------------------------------------------------------------------------------------

@keyframes slide-from-left{
    0%{
        transform: translateX(120%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}