.landing{
    width: 80%;
    min-height: 69vh;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem;
    h1{
        font-size: 1.2rem;
        color: $seconed-color;
        margin: 1rem 0;
    }
    h2{
        font-size: 3rem;
        color: #ccd6f6;
        margin: 1rem 0;
    }
    h3{
        font-size: 3.5rem;
        color: #8892b0;
        margin: 1rem 0;
    }
    a{
        text-decoration: none;
        font-size: 1.2rem;
        color: $seconed-color;
        border: 1px solid $seconed-color;
        padding: 1rem 2rem;
        display: block;
        width: fit-content;
        margin: 2rem 0;
        transition: 0.7s all ease;
        border-radius: 1rem;
        &:hover {
            background-color: #242323;
        }
    }
}

//-----------------------------------------------------------------------------------------------------------------
@include mobile {
    .landing {
        width: 100%;
    }

}
//-----------------------------------------------------------------------------------------------------------------------
@include tablets {
    .landing{
        h1{
            font-size: 1rem;
        }
        h2{
            font-size: 2.3rem;
        }
        h3{
            font-size: 2.5rem;
        }
    }
}
//---------------------------------------------------------------------------------------------------------------------------
@include small {
    .landing{
        h1{
            font-size: 1rem;
        }
        h2{
            font-size: 1.6rem;
        }
        h3{
            font-size: 1.8rem;
        }
        a{
            font-size: 0.9rem;
        }
    }
}